@import '../../styles/vars';

.row_container {
    @include row_container;
}

.heading {
    border-radius: 0;
    border-bottom: 1px solid $accent2;
    &:hover {
        background-color: rgba($accent2, 0);
    }
}

.row {
    @include row;
    &:hover {
        transition: 0.5s;
        background-color: rgba($accent2, 0.2);
    }
}

.row_word {
    @include row_word;
}

.row_description {
    @include row_description;
}

.row_buttons {
    @include row_buttons;
}

.hide {
    display: none;
}

.transcription {
    @include transcription;
}

.row_button {
    @include row_button;
}
