@import '../../styles/vars';

@mixin row {
    display: flex;
    align-items: center;
    height: min-content;
    padding: 1vh;
    justify-content: space-around;
    border-radius: 0.3rem;
    color: $text;
}

.row_container {
    display: flex;
    flex-direction: column;
    padding: 0.5vh;
}

.heading {
    border-radius: 0;
    border-bottom: 1px solid $accent2;
    &:hover {
        background-color: rgba($accent2, 0);
    }
}

.row {
    @include row;
    &:hover {
        transition: 0.5s;
        background-color: rgba($accent2, 0.2);
    }
}

.row_form {
    @include row;
    background-color: rgba($accent2, 0.2);
    border: 1px solid $accent2;
}

.row_word {
    min-width: 25%;
    font-family: $graffiti-shadow;
}

.row_description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 50%;
    @media (max-width: $medium) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.row_buttons {
    display: flex;
    min-width: 25%;
    justify-content: center;
    @media (max-width: $mobile) {
        flex-direction: column;
    }
}

.transcription {
    @include transcription;
}

.row_button {
    min-width: 48%;
    margin: 2%;
    text-wrap: wrap;
}
