@import '../../styles/vars';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
    border: 1px solid $accent2;
    border-radius: 0.3rem;
    background: $accent2;
    background: linear-gradient(150deg, rgba($accent1, 1) 0%, rgba($accent2, 1) 100%);
    color: $text;
    margin: 0 2vw;
}

.card_back {
    background: linear-gradient(150deg, rgba($accent2, 1) 0%, rgba($accent1, 1) 100%);
    display: flex;
    flex-direction: column;
}

.word {
    font-family: $graffiti-shadow;
    color: $text;
    font-size: 2rem;
}
.hint {
    margin-top: 2%;
    font-size: 0.8rem;
    color: $shadow;
}

.answer_text {
    font-family: $graffiti;
    margin: 5% auto;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    font-size: 2rem;
}

.hide {
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
