@import '../../styles/vars';

.button {
    font-family: $graffiti;
    font-size: 1rem;
    padding: 2% 6%;
    border: none;
    border-radius: 0.3rem;
    background-color: $accent1;
    color: $text;
    min-width: fit-content;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover,
    &:active,
    &:focus {
        transition: 0.5s;
    }
    &:hover {
        background-color: $accent2;
    }
    &:active,
    &:focus {
        background-color: $accent3;
    }
}
