@import '../../styles/vars';

.button {
    padding: 2% 6%;
    border: 1px solid $accent2;
    border-radius: 1rem;
    background-color: $shadow;
    color: $accent2;
    min-width: fit-content;
    text-wrap: nowrap;
    &:hover,
    &:focus,
    &:active {
        transition: 0.5s;
        background-color: $accent1;
        color: $text;
    }
}
