@import '../../styles/vars';

.form_container {
    @include row_container;
    background-color: rgba($accent2, 0.2);
    border-radius: 0.3rem;
}

.formTitle {
    text-transform: uppercase;
}

.form {
    @include row;
}

.form_word {
    @include row_word;
}

.form_description {
    @include row_description;
}

.form_remove {
    min-width: 50%;
}

.form_buttons {
    @include row_buttons;
}

.transcription {
    @include transcription;
}

.close_button,
.submit_button {
    text-wrap: wrap;
    @include row_button;
}
