$bg: #f0dfd9;
$accent1: #fcbf46;
$accent2: #973dff;
$accent3: #75cfc4;
$shadow: #e9cfff;
$text: #000000;

$mobile: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

$header-height: 15vh;
$footer-height: 15vh;
$main-height: 70vh;

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
$font: 'Roboto';

@font-face {
    font-family: 'GraffitiShadow';
    src: url(../fonts/SpriteGraffitiShadow.otf);
}

$graffiti-shadow: 'GraffitiShadow';

@font-face {
    font-family: 'Graffiti';
    src: url(../fonts/SpriteGraffiti.otf);
}

$graffiti: 'Graffiti';

@mixin main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    min-height: $main-height;
}

@mixin transcription {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
