// $bg: #2e0f38;
// $accent2: #1a2c54;
// $accent1: #8351a8;
// $text: #000000;
// $shadow: #572c5a;

$bg: #f0dfd9;
$accent1: #fcbf46;
$accent2: #973dff;
$shadow: #e9cfff;
$text: #000000;

$mobile: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

$header-height: 15vh;
$footer-height: 15vh;
$main-height: 70vh;

@mixin main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    min-height: $main-height;
}
