@import './vars';

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}
$font: 'Roboto';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
}

.App {
    text-align: center;
    background: linear-gradient(325deg, rgba($accent2, 1) 0%, rgba($accent1, 1) 100%);
    min-height: 100vh;
}
