@import './vars';

.main {
    @include main;
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 2% auto;
    color: $text;
}

.blocks {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;

    @media screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: space-between;
    }
}

.block {
    width: 50%;
    min-width: 30vw;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 2% 6%;
    background-color: $accent1;
    border: 1px solid $accent2;
    border-radius: 1rem;
    transition: all 0.3s ease;
    color: $text;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    height: 40vh;
    text-wrap: wrap;
    margin: 1% auto;
    &:hover {
        background-color: $accent2;
        transform: translateY(-3px);
        transition: 0.5s;
    }
    &:focus,
    &:active {
        background-color: $accent2;
    }
    @media (max-width: 576px) {
        height: 25vh;
        min-width: 50vw;
    }
}
