@import '../../styles/vars';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: fit-content;
    text-wrap: nowrap;
    height: 40vh;
    border: 1px solid $accent2;
    border-radius: 1rem;
    background: $accent2;
    background: linear-gradient(150deg, rgba($accent2, 1) 0%, rgba($accent1, 1) 100%);
    color: $text;
    margin: 0 2vw;
}

.answer_button {
    padding: 5%;
    background-color: $shadow;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

    &:active {
        background-color: $accent2;
    }
}

.answer {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 2% auto;
}

.word {
    color: $text;
    font-size: 2rem;
}

.answer_text {
    margin: 5% auto;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.hide {
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
