@import '../../styles/vars';

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40vh;
    border: 1px solid $accent2;
    border-radius: 1rem;
    background-color: rgb($accent2, 0.5);
    color: $text;
}

.answer {
    display: flex;
}

.word {
    color: $text;
}
