@import '../../styles/vars';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($accent1, 0.2);
    padding: 1% 5%;
    color: $text;
    height: $header-height;
}

.title {
    font-family: $graffiti-shadow;
    font-size: 1.5rem;
    text-transform: uppercase;
    min-width: fit-content;
    color: $text;
    &:hover {
        transition: all 0.3s ease;
        color: $accent2;
    }
}

.header__link {
    padding: 2%;
    text-decoration: none;
    margin: 0 2%;
    width: 40%;
}

.header__nav {
    display: flex;
    gap: 5%;
    justify-content: flex-end;
    list-style-type: none;
    width: 50%;
}

.nav__item {
    font-family: $graffiti;
    font-weight: bold;
    width: fit-content;
    padding: 2% 6%;
    text-decoration: none;
    background-color: $accent1;
    color: $text;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        background-color: $accent2;
        transition: 0.5s;
    }
    &:active {
        background-color: $accent3;
    }
}

.header__select {
    width: fit-content;
    padding: 5% 15%;
    background-color: $accent1;
    color: $text;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    &:hover {
        background-color: rgba($accent2, 0.3);
    }
    &:focus,
    &:active {
        background-color: rgba($accent1, 0.3);
    }
}

.select__option {
    background-color: rgba($accent1, 0.8);
}
