@import '../../styles/vars';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($accent1, 0.2);
    padding: 1% 5%;
    color: $text;
}

.title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: fit-content;
}

.header__link {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2%;
    border-radius: 1rem;
    text-decoration: none;
    width: fit-content;
    margin: 0 2%;
    color: $text;
    &:hover {
        transition: all 0.3s ease;
        background-color: rgba($accent1, 0.5);
    }
}

.header__nav {
    display: flex;
    gap: 5%;
    justify-content: flex-end;
    list-style-type: none;
    width: 50%;
}

.nav__item {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2% 6%;
    text-decoration: none;
    background-color: $accent1;
    color: $text;
    border: 1px solid $accent2;
    border-radius: 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
        transform: translateY(-3px);
        transition: 0.5s;
    }
    &:focus,
    &:active {
        background-color: $accent2;
    }
}
